@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.giulia{
    text-align: center;
    margin-bottom: 10px;
    padding: 12px;
    background-color: #E6B8DC;
    
}

.giulia h1{
    font-size: 45px;
    color: #E66BCD;
    text-shadow: 2px 2px 2px rgb(83, 82, 82);
    margin-bottom: 0;
}

.giulia p{
    color: #E66BCD;
    text-shadow: 1px 1px 1px rgb(82, 81, 81);
    font-size: 18px;
    border-bottom: 2px solid rgb(104, 102, 102);
    display: inline-block;
}

img{
    width: 450px;
    height: 450px;
    
}

figcaption{
    text-align: center;
}

figure{
    font-size: 15px;
}

main{
    background-color:  #E6B8DC;
    
}

p{
    text-align: center;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    background-color: #E66BCD;
}

.giulia1{
    width: 350px;
    height: 350px;
    transition: widht 2s, height 4s;
}

.giulia1:active{
    width: 450px;
    height: 450px;
}

footer{
    text-align: center;
    background-color:#E6B8DC;
}